// Branding
//
// Global Markup for Header
//
// markup:
//	<div class="btn btn-square">
//		normal
//	</div>
//	<div class="btn btn-square btn--primary">
//		#000000	
//	</div>
//	<div class="btn btn-square btn--secondary">
//		#FF0000	
//	</div>
//
// Styleguide 1.1
//
// Color
$gray: #343434;
$gray-light: #808080;
$primary-clr: #000000; //black
$secondary-clr: #ffffff; //white