// Units
//
// Global Markup for Header
//
// markup:
//	<header>
//		<div class="container">
//			<div class="row">
//				<div class="col-md-12">
//					<nav class="navbar">
//						<a class="navbar-brand" href="#">Company Logo</a>
//						<ul class="nav navbar-nav pull-xs-right">
//							<li class="nav-item active"><a class="nav-link" href="#">Nav 1 <span class="sr-only">(current)</span></a></li>
//							<li class="nav-item"><a class="nav-link" href="#">Nav 2</a></li>
//							<li class="nav-item"><a class="nav-link" href="#">Nav 3</a></li>
//							<li class="nav-item"><a class="nav-link" href="#">Nav 4</a></li>
//						</ul>
//					</nav>
//				</div>
//			</div>
//		</div>
//	</header>
//
// Styleguide 1.2
//
// Color
$base-size: 1rem;
$base-size__xs: 1.25rem;
$base-size__sm: 1.5rem;
$base-size__md: 1.75rem;
$base-size__lg: 2rem;